# DRPS Analysis
This notebook analyses data scraped from the [DRPS website](http://www.drps.ed.ac.uk/) regarding University of Edinburgh courses. We utilise modified versions of common graph algorithms, specifically for topological sort and connected components.

## Imports
We begin by importing the pandas library for data manipulation. Additionally, we import the `processing.py` and `graphs.py` files. The primary use of `processing.py` is extracting information from raw strings using regular expressions. We implement the `Graph` and `PriorityGraph` classes in `graphs.py`, which utilise adjacency lists. `PriorityGraph` additionally stores a "priority" associated with each vertex, which will be explained later.

In [1]:
import pandas as pd
import processing
from graphs import *

DATA_PATH = "./data/courses.json"
COURSE_CODE_PATTERN = "(math|infr).*" # Modify this RegEx to filter by course codes

courses_df = pd.read_json(DATA_PATH, orient="index").filter(regex=COURSE_CODE_PATTERN, axis="index").dropna()
courses_df.head()

,title,outline_level_year,entry_pre_req,delivery_start
math08073,Undergraduate Course: Mathematics for the Natu...,SCQF Level 8 (Year 1 Undergraduate),,Semester 2
math08074,Undergraduate Course: Engineering Mathematics ...,SCQF Level 8 (Year 1 Undergraduate),,Semester 1
math08075,Undergraduate Course: Engineering Mathematics ...,SCQF Level 8 (Year 1 Undergraduate),,Semester 2
infr11176,Postgraduate Course: Fundamentals of Data Mana...,SCQF Level 11 (Postgraduate),,Semester 1
infr11167,Postgraduate Course: Performance Programming (...,SCQF Level 11 (Postgraduate),It is RECOMMENDED that students have passed\nH...,Semester 2

## Dataset
The dataset initially consists entirely of rows of raw strings, indexed by course codes. We use regular expressions to extract information such as the typical year taken, the semester the course starts in, and which courses are listed as prerequisites. We also define a `start_score` for each course, which is simply `[typical year taken].[starting semster]`. For example, a course typically taken in Year 3 that starts in Semester 2 would be assigned `3.2`. This is a quick-and-dirty way to define a value that we can use as our notion of priority later on.

In [2]:
outline = courses_df["outline_level_year"]
start = courses_df["delivery_start"]

courses_df["year"] = pd.to_numeric(outline.apply(processing.year))
courses_df["start_semester"] = pd.to_numeric(start.apply(processing.semester))

courses_df["start_score"] = courses_df["year"] + courses_df["start_semester"] * 0.1
courses_df = courses_df.dropna()

courses_df["title"] = courses_df["title"].apply(processing.title)

courses_df["prereqs"] = courses_df["entry_pre_req"].apply(processing.prereq)
courses_df.drop(labels=["outline_level_year", "entry_pre_req", "delivery_start"], axis="columns", inplace=True)

courses_df.head()

,title,year,start_semester,start_score,prereqs
math08073,Mathematics for the Natural Sciences 1b,1,2,1.2,[]
math08074,Engineering Mathematics 1a,1,1,1.1,[]
math08075,Engineering Mathematics 1b,1,2,1.2,[]
infr11176,Fundamentals of Data Management,7,1,7.1,[]
infr11167,Performance Programming,7,2,7.2,[infr11175]

Note: We treat all postgraduate courses as being taken in "Year 7", to ensure they come after undegraduate courses, some of which may go up to Year 6 (e.g. in the Edinburgh Medical School).

## Building a Graph
We begin by populating a graph with vertices and edges, where vertices are courses and an edge $(u, v)$ indicates that $u$ is a prerequisite for $v$. Note that graphs as implemented in `graphs.py` are only concerned with abstract structure. The information associated with each vertex (i.e. the course code) we store in a separate dictionary.

In [3]:
G = PriorityGraph()

course_to_vertex = {}
vertex_to_course = {}

for course, _ in courses_df["prereqs"].items():
    i = G.addVertex(courses_df["start_score"][course])
    course_to_vertex[course] = i
    vertex_to_course[i] = course

for course, prereq in courses_df["prereqs"].items():
    for pre_course in prereq:
        if pre_course in course_to_vertex.keys():
            G.addEdge(course_to_vertex[pre_course], course_to_vertex[course])

## Modified Topological Sort
The dataset of courses and their prerequisites, as one would expect, forms a directed acyclic graph. This means that we can define a topological order on the set of courses. To also consider the time when a course is typically taken (since we would want our topological order to list Year 1 courses before Year 4 courses), we also consider the priority of each course, which is the `start_score` we defined earlier. We, at any step where `topSort` can freely choose from a list of vertices which to consider next, use a heap to always choose with respect to priority.

In [4]:
L = G.topSort()
course_order = processing.list_order(map(lambda i : courses_df.loc[vertex_to_course[i]]["title"], L))
course_order[:50]

['Fundamentals of Algebra and Calculus',
 'Introductory Mathematics with Applications',
 'Mathematics for the Natural Sciences 1a',
 'Introduction to Data Science',
 'Engineering Mathematics 1a',
 'Informatics 1 - Introduction to Computation',
 'Introduction to Linear Algebra',
 'Engineering Mathematics 1b',
 'Informatics 1 - Cognitive Science',
 'Mathematics for the Natural Sciences 1b',
 'Proofs and Problem Solving',
 'Informatics 1 - Object Oriented Programming',
 'Calculus and its Applications',
 'Informatics 2C - Introduction to Computer Systems',
 'Accelerated Proofs and Problem Solving',
 'Facets of Mathematics',
 'Informatics Experiential Learning (Level 8)',
 'Discrete Mathematics and Probability',
 'Informatics 2 - Introduction to Algorithms and Data Structures',
 'Accelerated Algebra and Calculus for Direct Entry',
 'Several Variable Calculus and Differential Equations',
 'Probability',
 'Informatics 2 - Foundations of Data Science',
 'Informatics 2D - Reasoning and Agents',
 'Computing and Numerics',
 'Statistics (Year 2)',
 'Informatics 2 - Software Engineering and Professional Practice',
 'Fundamentals of Pure Mathematics',
 'Introduction to Databases',
 'Introduction to Mobile Robotics',
 'Algorithms and Data Structures',
 'Informatics Large Practical',
 'Professional Issues (Level 10)',
 'Numerical Linear Algebra',
 'Introduction to Theoretical Computer Science',
 'Combinatorics and Graph Theory',
 'Computer Security',
 'Computational Cognitive Science',
 'Software Testing',
 'Modelling Concurrent Systems (Level 10)',
 'Honours Differential Equations',
 'Automated Reasoning',
 'Honours Analysis',
 'Stochastic Modelling',
 'Elements of Programming Languages',
 'Informatics Experiential Learning (Level 10)',
 'Geometry',
 'Statistical Methodology',
 'Computer Architecture and Design',
 'Software Design and Modelling']

In [5]:
G = Graph()

course_to_vertex = {}
vertex_to_course = {}

for course, _ in courses_df["prereqs"].items():
    i = G.addVertex()
    course_to_vertex[course] = i
    vertex_to_course[i] = course

for course, prereq in courses_df["prereqs"].items():
    for pre_course in prereq:
        if pre_course in course_to_vertex.keys():
            # We want this graph to be undirected
            G.addEdge(course_to_vertex[pre_course], course_to_vertex[course])
            G.addEdge(course_to_vertex[course], course_to_vertex[pre_course])

CC = G.connComp()
CC = sorted(CC, key=lambda l : len(l), reverse=True)

In [6]:
for component in CC:
    component = pd.Series(map(lambda v : vertex_to_course[v], component))
    print(component)

0      infr08031
1      math08057
2      infr08030
3      infr08025
4      infr08029
         ...
127    infr10064
128    infr10057
129    infr08027
130    infr08010
131    infr11129
Length: 132, dtype: object
0    infr08020
1    infr10054
2    infr11210
3    infr11233
4    infr11209
5    infr11036
6    infr11237
dtype: object
0    infr10080
1    infr11199
2    infr11217
dtype: object
0    infr11262
1    infr11263
2    infr11260
dtype: object
0    infr11094
1    infr11097
dtype: object
0    infr11197
1    infr11195
dtype: object
0    infr11268
1    infr11267
dtype: object
0    math08073
dtype: object
0    math08074
dtype: object
0    math08075
dtype: object
0    infr11176
dtype: object
0    infr11167
dtype: object
0    infr08033
dtype: object
0    infr09053
dtype: object
0    infr09051
dtype: object
0    infr09032
dtype: object
0    infr10087
dtype: object
0    infr10065
dtype: object
0    infr10076
dtype: object
0    infr10074
dtype: object
0    infr10077
dtype: object
0    infr10061
dtype: object
0    infr10044
dtype: object
0    infr10084
dtype: object
0    infr10085
dtype: object
0    infr10059
dtype: object
0    infr10051
dtype: object
0    infr10089
dtype: object
0    infr10088
dtype: object
0    infr10079
dtype: object
0    infr10022
dtype: object
0    infr11213
dtype: object
0    infr11279
dtype: object
0    infr11245
dtype: object
0    infr11249
dtype: object
0    infr11258
dtype: object
0    infr11033
dtype: object
0    infr11219
dtype: object
0    infr11206
dtype: object
0    infr11231
dtype: object
0    infr11241
dtype: object
0    infr11247
dtype: object
0    infr11246
dtype: object
0    infr11244
dtype: object
0    infr11212
dtype: object
0    infr11278
dtype: object
0    infr11115
dtype: object
0    infr11116
dtype: object
0    infr11117
dtype: object
0    infr11198
dtype: object
0    infr11022
dtype: object
0    infr11194
dtype: object
0    infr11193
dtype: object
0    infr11203
dtype: object
0    infr11017
dtype: object
0    infr11140
dtype: object
0    infr11257
dtype: object
0    infr11192
dtype: object
0    infr11204
dtype: object
0    infr11147
dtype: object
0    infr11274
dtype: object
0    infr11242
dtype: object
0    infr11243
dtype: object
0    infr11205
dtype: object
0    infr11215
dtype: object
0    infr11093
dtype: object
0    infr11077
dtype: object
0    infr11132
dtype: object
0    infr11223
dtype: object
0    infr11269
dtype: object
0    infr11280
dtype: object
0    infr11271
dtype: object
0    infr11270
dtype: object
0    infr11272
dtype: object
0    infr11248
dtype: object
0    infr11023
dtype: object
0    infr11226
dtype: object
0    infr11264
dtype: object
0    infr11150
dtype: object
0    infr11255
dtype: object
0    infr11010
dtype: object
0    infr11236
dtype: object
0    infr11259
dtype: object
0    infr11145
dtype: object
0    infr11229
dtype: object
0    infr11141
dtype: object
0    infr11276
dtype: object
0    infr11114
dtype: object
0    infr11158
dtype: object
0    infr11230
dtype: object
0    math07003
dtype: object
0    math07004
dtype: object
0    math08077
dtype: object
0    math08072
dtype: object
0    math10099
dtype: object
0    math10063
dtype: object
0    math10031
dtype: object
0    math11148
dtype: object
0    math11153
dtype: object
0    math11195
dtype: object
0    math11200
dtype: object
0    math11080
dtype: object
0    math11043
dtype: object
0    math11178
dtype: object
0    math11119
dtype: object
0    math11203
dtype: object
0    math11222
dtype: object
0    math11213
dtype: object
0    math11220
dtype: object
0    math11209
dtype: object
0    math11211
dtype: object
0    math11210
dtype: object
0    math11208
dtype: object
0    math11215
dtype: object
0    math11219
dtype: object
0    math11221
dtype: object
0    math11214
dtype: object
0    math11218
dtype: object
0    math11212
dtype: object
0    math11217
dtype: object
0    math11216
dtype: object
0    math11164
dtype: object
0    math11160
dtype: object
0    math11162
dtype: object
0    math11165
dtype: object
0    math11163
dtype: object
0    math11161
dtype: object
0    math11159
dtype: object
0    math11166
dtype: object
0    math11167
dtype: object
0    math11249
dtype: object
0    math11250
dtype: object
0    math11127
dtype: object
0    math11204
dtype: object
0    math11197
dtype: object
0    math11228
dtype: object
0    math11157
dtype: object
0    math11028
dtype: object
0    math11188
dtype: object
0    math12028
dtype: object
0    math12030
dtype: object
0    math12031
dtype: object
0    math12032
dtype: object
0    math12033
dtype: object
0    math12034
dtype: object
0    math12035
dtype: object
0    math12027
dtype: object
0    math12026
dtype: object
0    math12023
dtype: object
0    math12024
dtype: object
0    math12025
dtype: object
0    math12008
dtype: object
0    math12016
dtype: object
0    math12009
dtype: object
0    math12010
dtype: object
0    math12011
dtype: object
0    math12013
dtype: object
0    math12014
dtype: object
0    math12015
dtype: object
0    math12006
dtype: object
0    math12005
dtype: object
0    math12003
dtype: object
0    math12004
dtype: object
0    math12021
dtype: object
0    math12007
dtype: object
0    math12001
dtype: object
0    math12019
dtype: object
0    math12020
dtype: object
0    math12002
dtype: object